.webchat-dialog {
  font-family: "Poppins", Arial, sans-serif;
  z-index: 2147483000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 376px;
  min-height: 250px;
  max-height: 704px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
  background-color: #ffffff;
  opacity: 1;
  height: calc(100% - 120px);
  border-radius: 8px;
  overflow: hidden;

  .head {
    position: relative;
    min-height: 75px;
    color: white;
    transition: height 160ms ease-out 0s;
    background: linear-gradient(135deg, @mainColor 0%, rgb(44, 16, 127) 100%);

    .title {
      padding: 25px;
      font-size: 14px;
      box-sizing: border-box;

      .server-name {
        font-weight: bold;
      }
    }

    .btn-close {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  .message-content-area {
    position: relative;
    //-webkit-overflow-scrolling: touch;
    background-color: #ffffff;
    height: calc(~"100% - 132px");
    overflow: auto;
    z-index: 2000000;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      width: 8px;
      background: #e2e2e2;
    }

    .message-list {
      padding: 24px;
      box-sizing: border-box;

      ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
          &::after {
            clear: both;
            content: '';
            display: block;
            width: 0;
            height: 0;
            visibility: hidden;
          }

          margin-bottom: 8px;
          width: 100%;

          .message-content {
            padding: 17px 20px;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 14px;
            position: relative;
            display: inline-block;
            background-color: red;
            max-width: 80%;
            word-wrap: break-word;

            .com-video {
              width: 100%;

              video {
                width: 100%;
                border-radius: 8px;
              }
            }

            .com-voice {
              width: 80vw;
              max-width: 100%;
              padding-top: 10px;

              audio {
                width: 100%;
                height: 30px;
                appearance: none;
              }
            }

            .com-img {
              padding-top: 10px;

              img {
                width: 100%;
                border-radius: 8px;
              }
            }
          }

          &.other {
            .message-content {
              background-color: rgb(245, 245, 245);

              a {
                color: #333333;
              }
            }
          }

          &.me {
            .message-content {
              background-color: @mainColor;
              color: #fff;
              float: right;

              a {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }

  .message-area {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    min-height: 56px;
    max-height: 200px;
    border-top: 1px solid rgb(230, 230, 230);

    textarea {
      outline: none;
      position: absolute;
      bottom: 0px;
      left: 0px;
      color: rgb(0, 0, 0);
      resize: none;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      transition: background-color 200ms ease 0s, box-shadow 200ms ease 0s;

      box-sizing: border-box;
      width: 100%;
      height: 100%;
      font-family: intercom-font, "Helvetica Neue", "Apple Color Emoji", Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.33;
      background-color: #fafafa;
      white-space: pre-wrap;
      overflow-wrap: break-word;
      padding: 18px 100px 18px 29px;

      &:focus {
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 100px 0px;
      }
    }

    .btn-send {
      position: absolute;
      cursor: pointer;
      opacity: 0.8;
      right: 15px;
      height: 100%;
      line-height: 56px;
      margin-top: 2px;
      width: 15px;
      padding-left: 8px;
      padding-right: 8px;
      transition: opacity 200ms ease 0s;

      svg {
        path {
          fill: @mainColor;
        }
      }
    }
  }
}